/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    max-width: 60%;
}

.header-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header-text p {
    font-size: 1.2em;
}

.header-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Section Styles */
.section {
    padding: 60px 20px;
    background-color: white;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Skills Section */
.skills-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.skill-card {
    background-color: #f9f9f9;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.skill-card ul {
    list-style-type: none;
}

.skill-card ul li {
    margin-bottom: 8px;
}

/* Project Section */
.project-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}


























































